{% extends 'admin/adminbase.html.twig' %}
{% block title %}Daily Shop | Ürün Resimleri{% endblock %}
{% block brand %}Ürün Resimleri{% endblock %}
{% block m4 %}<li class="active">{% endblock %}
    {% block body %}

    <h4>Ürün Resimleri</h4>
    <div class="table-responsive ">
        <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>ProductNo</th>
                <td>{{ image.ProductNo }}</td>
            </tr>
            <tr>
                <th>ImageSource</th>
                <td><img src="{{ asset('uploads') }}/images/{{ image.ImageSource }}"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_image_index') }}">back to list</a>

    <a href="{{ path('admin_image_edit', {'id': image.id}) }}">edit</a>

    {{ include('admin/image/_delete_form.html.twig') }}
    </div>
{% endblock %}
