<!-- Start slider -->
<section id="aa-slider">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    {% for rs in sliders %}
                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="{{ asset('uploads') }}/images/{{ rs.image_source }}" alt="Men slide img" />
                        </div>
                        <div class="seq-title">
                            <span data-seq>{{ rs.price }}₺</span>
                            <h2 data-seq>{{ rs.title }}</h2>
                            <p data-seq>Koleksiyona git</p>
                            <a data-seq href="{{ path('product_detail' ,{'id': rs.id}) }}" class="aa-shop-now-btn aa-secondary-btn">ALIŞVERİŞ YAP</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- slider navigation btn -->
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>
<!-- / slider -->