{% extends 'frontbase.html.twig' %}

{% block title %}   {{ data2[0].title }}   {%  endblock %}
{% block body %}
    <section id="aa-product-details">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-product-details-area">
                        <div class="aa-product-details-content">
                            <div class="row">
                                <!-- Modal view slider -->
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <div class="aa-product-view-slider">
                                        <div id="demo-1" class="simpleLens-gallery-container">
                                            <div class="simpleLens-container">
                                                <div class="simpleLens-big-image-container"><a data-lens-image="{{ asset('uploads') }}/images/{{ images[0].imageSource }}" class="simpleLens-lens-image"><img src="{{ asset('uploads') }}/images/{{ images[0].imageSource }}" class="simpleLens-big-image"></a></div>
                                            </div>
                                            <div class="simpleLens-thumbnails-container">
                                                {% for rs in images %}
                                                    <a data-big-image="{{ asset('uploads') }}/images/{{ rs.imageSource }}" data-lens-image="{{ asset('uploads') }}/images/{{ rs.imageSource }}" class="simpleLens-thumbnail-wrapper" href="#"><img src="{{ asset('uploads') }}/images/{{ rs.imageSource }}"height="45" width="55">
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal view content -->
                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    <div class="aa-product-view-content">
                                        <h3>{{ data2[0].title }}</h3>
                                        <div class="aa-price-block">

                                            <p class="aa-product-avilability">Stok Durumu: <span>Stokta var!</span></p>
                                        </div>

                                        <h4>Size</h4>
                                        <div class="aa-prod-view-size">
                                            <a href="#">S</a>
                                            <a href="#">M</a>
                                            <a href="#">L</a>
                                            <a href="#">XL</a>
                                        </div>
                                            <form name="shopcart" action="{{ path('shopcart_new') }}" method="post">
                                                <div class="aa-price-block"><span class="aa-product-view-price">₺{{ data2[0].price }}</span></div>
                                                <div class="aa-prod-quantity"><input type="number" name="shopcart[quantity]" value="1" placeholder="Qty" max="{{ data2[0].amount }}"></div>
                                                <input type="hidden" name="shopcart[productid]" value="{{ data2[0].id }}">
                                                <input type="hidden" name="token" value="{{ csrf_token('add-item') }}">
                                                <div class="aa-prod-view-bottom">
                                                    <button type="submit" class="aa-add-to-cart-btn">Sepete Ekle</button>
                                                    <a class="aa-add-to-cart-btn" href="#">İstek Listeme Ekle</a>
                                                </div>
                                            </form>
                                        <div class="aa-product-details-bottom">
                                            <ul class="nav nav-tabs" id="myTab2">
                                                <li><a href="#description" data-toggle="tab">Açıklama</a></li>
                                            </ul>

                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active" id="description">
                                                    <p>{{ data2[0].description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>

{%  endblock %}



