{% extends 'admin/adminbase.html.twig' %}
{% block title %}Daily Shop | Siparişler{% endblock %}
{% block brand %}Siparişler{% endblock %}
{% block m3 %}<li class="active">{% endblock %}
{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>Sipariş Numarası</th>
            <th>Sipariş Tutarı</th>
            <th>Sipariş Tarihi</th>
            <th>Ödeme Tipi</th>
            <th>Detaylar</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>#{{ order.id }}</td>
                <td>{{ order.Total }}₺</td>
                <td>{{ order.CreatedAt|date("d/m/Y") }}</td>
                <td>{{ order.PaymentType }}</td>
                <td> <a href="{{ path('admin_orders_show',{'id': order.id}) }}" rel="tooltip" title="Göster" class="btn btn-info btn-simple btn-xs">
                        <i class="fa fa-check-circle"></i>  Görüntüle</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Hiç siparişiniz yok</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
