<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{% block title %}Light Bootstrap Dashboard by Creative Tim {% endblock %}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/assets/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    
    <SCRIPT language="JavaScript" type="text/javascript">
        function  openWin(windowURL,windowName,windowFeatures) {window.open(windowURL, windowName, windowFeatures);}
    </SCRIPT>
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

        <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    Admin Paneli
                </a>
            </div>

            <ul class="nav">
                <li>
                    {% block m1 %}{% endblock %}
                    <a href="{{ url('admin') }}">
                        <i class="pe-7s-graph"></i>
                        <p>Giriş Sayfası</p>
                    </a>
                </li>
                <li>
                    {% block m2 %}{% endblock %}
                    <a href="#subMenu"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="pe-7s-users"></i>
                        <p>Üyeler</p>
                    </a>
                    <ul class="collapse list-unstyled" id="subMenu">

                        <li>
                            {% block m21 %}{% endblock %}
                            <a href="{{ url('admin') }}/user">
                                <i class="pe-7s-note2"></i>
                                <p>Üye Listesi</p>
                            </a>
                        </li>

                        <li>
                            {% block m22 %}{% endblock %}
                            <a href="{{ url('admin') }}/user/new">
                                <i class="pe-7s-add-user"></i>
                                <p>Üye Ekle</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    {% block m3 %}{% endblock %}
                    <a href="#subMenu2"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="pe-7s-note2"></i>
                        <p>Siparişler</p>
                    </a>
                    <ul class="collapse list-unstyled" id="subMenu2">
                        <li>
                            {% block m31 %}{% endblock %}
                            <a href="{{ path('admin_orders_index', {'slug':'1'}) }}">
                                <i class="pe-7s-cart"></i>
                                <p>Onaylanan Siparişler</p>
                            </a>
                        </li>

                        <li>
                            {% block m32 %}{% endblock %}
                            <a href="{{ path('admin_orders_index', {'slug':'0'}) }}">
                                <i class="pe-7s-gleam"></i>
                                <p>Onaylanmayan Siparişler</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    {% block m4 %}{% endblock %}
                    <a href="{{ path('admin_product_index') }}">
                        <i class="pe-7s-shopbag"></i>
                        <p>Ürünler</p>
                    </a>
                </li>
                <li>
                    {% block m5 %}{% endblock %}
                    <a href="{{ path('admin_genders_index') }}">
                        <i class="pe-7s-browser"></i>
                        <p>Kategoriler</p>
                    </a>
                </li>
                <li>
                    {% block m6 %}{% endblock %}
                    <a href="{{ path('admin_category_index') }}">
                        <i class="pe-7s-plugin"></i>
                        <p>Alt Kategoriler</p>
                    </a>
                </li>
                <li>
                    {% block m8 %}{% endblock %}
                    <a href="{{ path('admin_contact') }}">
                        <i class="pe-7s-mail"></i>
                        <p>Site Mesajları</p>
                    </a>
                </li>
                <li>
                    {% block m7 %}{% endblock %}
                    <a href="{{ path('setting_edit',{'id': 1}) }}">
                        <i class="pe-7s-settings"></i>
                        <p>Ayarlar</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{% block brand %}Dashboard{% endblock %}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-globe"></i>
                                <b class="caret hidden-lg hidden-md"></b>
                                <p class="hidden-lg hidden-md">
                                    5 Notifications
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-search"></i>
                                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a href="">
                                <p>{{ app.user.name }}</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}">
                                <p>Çıkış Yap</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg"></li>
                        {% else %}
                            No Login
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <! -- Content ==================================================== -->

        {% block body %} {% endblock %}

        <! -- Content ==================================================== -->

        <div class="footer">
            <hr>
            <div class="stats">
                <i class="fa fa-history"></i> 1 dakika önce güncellendi.
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


</body>

<!--   Core JS Files   -->
<script src="/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="/assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="/assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="/assets/js/demo.js"></script>

<script type="text/javascript">
    $(document).ready(function(){

        demo.initChartist();

        $.notify({
            icon: 'pe-7s-gift',
            message: "<b>dailyShop Admin Paneli</b>'ne hoş geldiniz - Süha Kopan"

        },{
            type: 'info',
            timer: 4000
        });

    });
</script>
{% block javascripts %} {% endblock %}
</html>
