{% extends 'frontbase.html.twig' %}

{% block title %}Daily Shop | #{{ order.id  }} | Sipariş Detayı{% endblock %}

{% block body %}
    <section id="cart-view">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {{ include ('home/_usersidebar.html.twig') }}
                </div>
                <div class="col-md-9">
                    <div class="cart-view-area">
                        <div class="cart-view-table">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Sipariş Numarası</th>
                                    <td>#{{ order.id }}</td>
                                </tr>
                                <tr>
                                    <th>Müşteri Bilgisi</th>
                                    <td>{{ app.user.name }}</td>
                                </tr>
                                <tr>
                                    <th>Toplam Tutar</th>
                                    <td>{{ order.Total }}₺</td>
                                </tr>
                                <tr>
                                    <th>KDV</th>
                                    <td>{{ order.Tax }}₺</td>
                                </tr>
                                <tr>
                                    <th>Ödeme Tipi</th>
                                    <td>{{ order.PaymentType }}</td>
                                </tr>
                                <tr>
                                    <th>Sipariş Notu</th>
                                    <td>{{ order.Note }}</td>
                                </tr>
                                <tr>
                                    <th>Sipariş Tarihi</th>
                                    <td>{{ order.CreatedAt ? order.CreatedAt|date('d-m-Y H:i:s') : '' }}</td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Ürün Kodu</th>
                                    <th>Ürün Adı</th>
                                    <th>Fiyat</th>
                                    <th>Adet</th>
                                    <th>Toplam</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for od in orderdetail %}
                                <tr>
                                    <td><a href="/product/{{ od.id }}">#{{ od.id }}</a></td>
                                    <td>{{ od.Title }}</td>
                                    <td>{{ od.Price }}₺</td>
                                    <td>{{ od.Quantity }}</td>
                                    <td>{{ od.toplam }}₺</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            <b>Alışveriş Tutarı: {{ order.Total }}</b>
                            <br>
                            Sipariş Durumu:
                            {% if order.status == 0 %}
                                <b>Sipariş onaylanmadı!</b>
                            {% else %}
                                <b>Sipariş onaylandı!</b>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
